%h1 ISO Certification

%div
  The overall goal of this Health informatics - Electronic Health Record Communication (EN 13606) European Standard is to define a rigorous and stable information architecture for communicating part or all of the Electronic Health Record (EHR) of a single subject of care (patient). This is to support the interoperability of systems and components that need to communicate (access, transfer, add or modify) EHR data via electronic messages or as distributed objects:
  • preserving the original clinical meaning intended by the author;
  • reflecting the confidentiality of that data as intended by the author and patient.
  The name of this European Standard suggests that it is not intended to specify the internal architecture or database design of EHR systems or components, but the scope includes the use of an 'object'. This implies that the 'objects' can be stored, retrieved and exchanged. It is explicitly not intended to prescribe the kinds of clinical applications that might request or contribute EHR data in particular settings, domains or specialities. For this reason, the information model proposed here is called the EHR Extract, and might be used to define a message, an XML document or schema, or an object interface. The information model in this European Standard is an ISO RM-ODP Information Viewpoint of the EHR Extract. This European Standard considers the EHR to be the persistent longitudinal and potentially multi-enterprise or multi-national record of health and care provision relating to a single subject of care (the patient), created and stored in one or more physical systems in order to inform the subject’s future health care and to provide a medico-legal record of care that has been provided. Whilst an EHR service or system will need to interact with many other services or systems providing terminology, medical knowledge, guidelines, workflow, security, persons registries, billing etc. this European Standard has only touched on those areas if some persistent trace of such interactions is required in the EHR itself, and requires specific features in the reference model to allow their communication. This European Standard may offer a practical and useful contribution to the design of EHR systems but will primarily be realised as a common set of external interfaces or messages built on otherwise heterogeneous clinical systems.
  The openEHR Framework is the basis of this new Electronic Health Record Communication Standard (EN 13606)

%br

= link_to 'Go back', '/'
