.jumbotron {
  margin-top: 40px;
  background: url(/assets/bg_blueplane.jpg) bottom center no-repeat;
  background-size: cover;
  color: #fff; }

.jumbotron h1 {
  color: #fff;
  text-shadow: 0px 0px 5px #888888; }

footer {
  border-top: 1px dashed #cccccc;
  margin: 40px 0px;
  padding: 20px 0px; }

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse; }

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede; }

table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff; }

.titulo {
  font-size: 22pt;
  font-weight: bold;
  padding: 6px;
  color: #b12a2a;
  border-bottom: 1px dotted #b12a2a; }

.contenido {
  margin: 30px;
  padding: 17px;
  background-color: #fff;
  behavior: url(/assets/border-radius.htc);
  -moz-border-radius: 25px 10px / 10px 25px;
  border-radius: 25px 10px / 10px 25px;
  box-shadow: 5px 5px 5px #888; }
